@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-urbanist: "Urbanist", sans-serif;
  /* --color-*: initial; */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-brand-primary: #C140D7;
  --color-brand-secondary: #4A00E0;
  --color-brand-text-light: #7F7282;
  --color-brand-text-dark: #514554;
  --color-brand-bg-light: #F1E7F3;
  --color-brand-bg-dark: #0E0A0F;
  --color-brand-fore-light: #FDF5FF;
  --color-brand-fore-dark: #1B171C;
  --color-brand-notify-ON: #0ACC00;
  --color-brand-notify-OFF: #CC0029;
  --color-brand-notify-default: #CC4400;
  --color-brand-btn-dark: #411F47;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}